body {
    margin: 0;
    background: black;
    color: white;
}
#loading {
    position: absolute;
    top: 0;
    left: 0;
}
#map {
    float: left;
    width: calc(100% - 200px);
    height: 100vh;
}
#text {
    white-space: pre-line;
    overflow-y: scroll;
    height: calc(100vh - 30px);
}
#right {
    height: 100vh;
    color: green;

    font: 12px Hack, monospace;
}
#register.show {
    display: block;
}
#register {
    width: 200px;
    height: 30px;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
    display: none;
}
